<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <link href="./styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Hello World!</title>
  </head>
  <body>
    <!-- <h1>Hello World!</h1>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>. -->
    <div id="app">
      <div class="menu">
        <div class="btn highlight" @click="loadFolder">加载文件夹</div>
        <div class="btn" @click="save">覆盖保存</div>
        <div class="btn" @click="saveAs">另存</div>
        <div class="btn" @click="clearAll">清空已有</div>
        <div class="stats">
          <div>总音频数：<span class="af_count">{{audioFileList.length}}</span></div>
          <div v-if="processDone">处理前 处理后 相差 处理数 </div>
        </div>
        <div class="links">
          <div class="link1">画本神器戳我</div>
          <div class="link2">对轨神器戳我</div>
        </div>
        <div class="btn" @click="loadFolder">参数设置</div>
        <div class="box">
          <div class="box_header">定义静音为</div>
          <div>音量低于：<el-input-number v-model="volume" controls-position="right" :step="0.1" :min="-90" :max="-20"></el-input-number>dB</div>
          <div>持续大于：<el-input-number v-model="dur" controls-position="right" :step="1" :min="500" :max="10000"></el-input-number>ms</div>
          <div>处理后静音最长为：<el-input-number v-model="pdur" controls-position="right" :step="1" :min="500" :max="10000"></el-input-number>ms</div>
        </div>
        <div class="btn highlight" @click="processNow">开始处理</div>  
      </div>
      <div id="audioFiles">
        <div class="af" v-for="f in audioFileList">
          <div>
            <div class="name">{{f.fileName}}</div>
            <div v-if="processDone">处理前 处理后 相差 处理数 </div>
            <div class="close">X</div>
          </div>
          <div :id="f.containerId"></div>
        </div>
      </div>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="./app.js"></script>
    <script src="./renderer.js"></script>
  </body>
</html>
