<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <link href="./styles.css" rel="stylesheet">
    <link rel="stylesheet" href="./lib/chalk.css">
    <title>一剪没鸡儿</title>
  </head>
  <body>
    <!-- <h1>Hello World!</h1>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>. -->
    <div id="app" v-cloak>
      <div class="menu">
        <div class="btn" :class="{ highlight: !processing }" @click="loadFolder">加载文件夹</div>
        <div class="btn" :class="{ highlight: processDone }" @click="save">覆盖保存</div>
        <div class="btn" :class="{ highlight: processDone }"  @click="saveAs">另存</div>
        <div class="btn" :class="{ highlight: audioFileList.length && !processing }"  @click="clearAll">清空已有</div>
        <div class="stats">
          <div>总音频数：<span class="stats_highlight">{{audioFileList.length}}</span><span>处理前：<span class="stats_highlight">{{totalDur.toFixed(2)}}s</span></span><span v-if="processDone">处理后：<span class="stats_highlight">{{totalPDur.toFixed(2)}}s</span>相差：<span class="stats_highlight">{{(totalDur - totalPDur).toFixed(2)}}s</span></span></div>
        </div>
        <div class="links">
          <div class="link1" @click="openLink('https://www.huabenyaoji.com/')">画本神器戳我</div>
          <div class="link2" @click="openLink('https://duigui.huabenyaoji.com/')">对轨神器戳我</div>
        </div>
        <div class="btn highlight">
          <div @click="openParamsBox">参数设置</div>
          <div class="box" v-if="showParamsBox">
            <div class="close" @click="hideParamsBox">
              <i class="el-icon-error"></i>
            </div>
            <div class="box_header">定义静音为</div>
            <div class="box_line">音量低于：<el-input-number v-model="volume" size="small" controls-position="right" :step="0.1" :min="-90" :max="-20"></el-input-number><span class="amount">dB</span></div>
            <div class="box_line">持续大于：<el-input-number v-model="dur" size="small" controls-position="right" :step="1" :min="500" :max="10000" @change="handleDurChange"></el-input-number><span class="amount">ms</span></div>
            <div class="box_line">处理后静音最长为：<el-input-number v-model="pdur" size="small" controls-position="right" :step="1" :min="500" :max="dur"></el-input-number><span class="amount">ms</span></div>
            <div class="confirm_btn" @click="confirmParams">确定</div>
          </div>
        </div>
        <div class="btn" v-if="processing" @mouseover="showCancel" @mouseleave="hideCancel" @click="cancelProcessing">{{ showCancelBtn? '取消处理': '进度：' + progressHint }}</div>
        <div class="btn" :class="{ highlight: audioFileList.length && !processing }" v-else @click="processNow">开始处理</div>
      </div>
      <div class="no_audio" v-if="!audioFileList.length">
        <div>点击【加载文件夹】或者直接拖拽音频到这里</div>
      </div>
      <div v-else id="audioFiles" :class="{ processing: processing }" v-loading="processing">
        <div class="af" v-for="f in audioFileList">
          <div class="af_header">
            <div class="af_name">{{f.fileName}}</div>
            <div class="icon" v-if="f.readyPlay">
              <i class="el-icon-video-play play" v-if="!f.playing" @click="playAudio(f)"></i>
              <i class="el-icon-video-pause pause" v-else @click="pauseAudio(f)"></i>
            </div>
            <div class="af_stats">
              <span>处理前： <span class="stats_highlight">{{f.duration.toFixed(2)}}s</span></span>  <span v-if="processDone">  处理后：<span class="stats_highlight">{{f.pDuration.toFixed(2)}}s</span>相差：<span class="stats_highlight">{{(f.duration - f.pDuration).toFixed(2)}}s</span></span></div>
            <el-popconfirm
              confirm-button-text='确定'
              cancel-button-text='取消'
              icon="el-icon-info"
              icon-color="red"
              title="确定删除这条音频吗？"
              @confirm="removeAudio(f)"
            >
              <div slot="reference" class="af_close">
                <i class="el-icon-error"></i>
              </div>
            </el-popconfirm>
          </div>
          <div class="af_wave" :id="f.containerId"></div>
        </div>
      </div>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="./lib/vue2.js"></script>
    <script src="./lib/elementui.js"></script>
    <script src="./lib/wavesurfer.js"></script>
    <script src="./app.js"></script>
    <script src="./renderer.js"></script>
  </body>
</html>
