/* styles.css */

/* Add styles here to customize the appearance of your app */

[v-cloak] {
    display: none !important;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 245, 245, 20);
}

body {
    margin: 0;
}

#app {
    font-size: 12px;
    min-height: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn {
    padding: 5px 12px;
    border-radius: 5px;
    color: #555;
    background-color: #eee;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.btn.highlight {
    color: rgb(255, 68, 0);
    background-color: rgb(255, 68, 0, .1);
}

.stats {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.links {
    font-size: 11px;
    display: flex;
    color: rgb(255, 68, 0);
    background-color: rgb(255, 68, 0, .1);
    flex-direction: row;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 10px;
}

.links > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    cursor: pointer
}

.box {
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222;
    padding: 20px;
    border-radius: 4px;
    cursor: default;
    z-index: 999;
}

.box_header {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.box_line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.amount {
    padding-left: 5px;
}

.confirm_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(255, 68, 0);
    background-color: rgb(255, 68, 0, .1);
    border-radius: 20px;
    padding: 5px 20px;
    margin: 5px 50px;
    margin-top: 20px;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.close > i {
    font-size: 16px;
    color: #999;
}

.close:hover > i {
    color: rgb(255, 68, 0);
}

.af {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
}

.af_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.af_name {

}

.af_stats {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.stats_highlight {
    color: rgb(255, 68, 0);
    padding-right: 5px;
}

.af_close {
    cursor: pointer;
}

.af_close > i {
    font-size: 16px;
    color: #999;
}

.af_close:hover > i {
    color: rgb(255, 68, 0);
}


.af_wave {
    background-color: rgb(245, 245, 245, 20);
}

.no_audio {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #555;
}

#audioFiles {
    overflow: scroll;
}

.icon {
    margin-left: 10px;
}

.play, .pause {
    color:rgb(255, 68, 0);
    font-size: 18px;
    cursor: pointer;
}